<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <link rel="icon" type="image/png" href="static\imgs\logos\logoFazendaAba.jpeg">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static\css\fontawesome-free-web\css\all.css">
        <link rel="stylesheet" href="static/css/base.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="bar-nav">
            <div class="caixaLogo">
                <div class="logo">
                    <img src="static\imgs\logos\logoFazenda.png" alt="Logo da fazenda" class="logoFazenda">
                </div>
            </div>
            <div class="linksNav">
                <div class="iconMenu"> <i class="fa-solid fa-bars"></i> </div>
            </div>
            <div class="IndicUsuario">
                <div class="ballUser">
                    <div class="i"><i class="fa-solid fa-user"></i></div>
                    <div class="nameUser">Fernanda Moraes</div>
                </div>
            </div>
        </nav>
        <div class="conteudo">
            <div class="menuBarraLateral">
                <a href="/cadastrarUser" class="itensMenu1" > 
                    <div class="itensMenui"><i class="fa-solid fa-user-plus"></i></div> <div class="itensMenup"> <p>Cadastrar Usuário</p></div>
                </a>
                <a href="/listarUser" class="itensMenu2">
                    <div class="itensMenui"><i class="fa-solid fa-users"></i></div> <div class="itensMenup"> <p>Listar usuários</p></div>
                </a>
                <a href="/configAmbiente" class="itensMenu3">
                    <div class="itensMenui"><i class="fa-solid fa-gear"></i></div> <div class="itensMenup"> <p>Configurar Ambiente</p></div>
                </a>
                <a href="/dadoAtual" class="itensMenu4">
                    <div class="itensMenui"><i class="fa-solid fa-database"></i></div> <div class="itensMenup"> <p>Dados atuais</p></div>
                </a>
                <a href="/historicos" class="itensMenu5">
                    <div class="itensMenui"><i class="fa-solid fa-clock-rotate-left"></i></div> <div class="itensMenup"> <p>Histórico</p></div>
                </a>
            </div>

            <div class="content" id="content">
                {% block content %} {% endblock %}
            </div>
        </div>
        <footer>

        </footer>
    </body>
</html>