<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static\css\fontawesome-free-web\css\all.css">
        <link rel="stylesheet" href="static/css/base.css">
    </head>
    <body>
        <nav class="bar-nav">
            <div class="caixaLogo">
                <div class="logo">
                    <i class="fa-solid fa-cow icon-cow"></i> Fazenda?
                </div>
            </div>
            <div class="linksNav">
                <div class="iconMenu"> <i class="fa-solid fa-bars"></i> </div>
            </div>
            <div class="IndicUsuario">
                <div class="ballUser">
                    <div class="i"><i class="fa-solid fa-user"></i></div>
                    <div class="nameUser">Fernanda Moraes</div>
                </div>
            </div>
        </nav>

        <div class="menuBarraLateral">
            <a href="/cadastrarUser" class="itensMenu" > 
                <div class="itensMenui"><i class="fa-solid fa-user-plus"></i></div> <div class="itensMenup"> <p>Cadastrar Usuário</p></div>
            </a>
            <a href="/listarUser" class="itensMenu">
                <div class="itensMenui"><i class="fa-solid fa-users"></i></div> <div class="itensMenup"> <p>Listar usuários</p></div>
            </a>
            <a href="/cadastrarSensor" class="itensMenu">
                <div class="itensMenui"><i class="fa-solid fa-scale-balanced"></i></div> <div class="itensMenup"> <p>Cadastrar sensor</p></div>
            </a>
            <a href="/cadastrarAtuador" class="itensMenu">
                <div class="itensMenui"><i class="fa-solid fa-droplet"></i></div> <div class="itensMenup"><p>Cadastrar atuador</p></div>
            </a>
            <a href="/dadosAtuais" class="itensMenu">
                <div class="itensMenui"><i class="fa-solid fa-database"></i></div> <div class="itensMenup"> <p>Dados atuais</p></div>
            </a>
            <a href="/historico" class="itensMenu">
                <div class="itensMenui"><i class="fa-solid fa-clock-rotate-left"></i></div> <div class="itensMenup"> <p>Histórico</p></div>
            </a>
        </div>

        <div class="conteudo"></div>

        <footer>

        </footer>
    </body>
</html>