{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrarMotor.css') }}">
    <title>Cadastrar motor</title>
{% endblock %}
{% block content %}
    <div class="cadastroBalanca">
        <h1>Cadastro de motor</h1>
        <form class="formBalanca">

            <div class="formEsq"> 
                <div>
                    <label for="nomeMotor">Nome motor:</label>
                    <div class="text"><input class="input" type="text" id="nomeMotor" placeholder="Nome"></div>
                </div>

                <div>
                    <label for="topico">Tópico:</label>
                    <div class="text"><input class="input" type="text" id="topico" placeholder="Tópico"></div>
                </div>
                <input class="botaoCadastrar" type = "submit" value = "Cadastrar" />
                <input class="limparForm" type="reset" value="Limpar formulário">
            </div>
            
        </form>
    </div>
{% endblock %}
