{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrarUser.css') }}">
    <title>Cadastrar motor</title>
{% endblock %}
{% block content %}
    <div class="cadastroUser">
        <h1>Cadastro de motor</h1>
        <form class="formMotor">

            <div class="text"><label for="topicoMotor">Nome motor:</label></div>

            <div class="text"><label for="topico">Tópico:</label></div>

        </form>
    </div>
{% endblock %}
