{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrarUser.css') }}">
    <title>Cadastrar usuário</title>
{% endblock %}
{% block content %}
    <div class="cadastroUser">
        <h1>Cadastro de usuário</h1>
        <form class="formUser">

            <label for="nomeBalanca">Nome Balança:</label>
            <div class="text"><label for="nomeBalanca">Nome Balança:</label></div>

            <label for="nomeBalanca">Tópico:</label>
            <div class="text"><label for="topico">Tópico:</label></div>

        </form>
    </div>
{% endblock %}
