{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listarUser.css') }}">
    <title>Listar usuários</title>
{% endblock %}
{% block content %}
    <div class="listaUsers">
        <h1>Lista de usuários</h1>
        <div class="tableConteiner">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Data de criação</th>
                        <th>Tipo de usuário</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fernanda Costa Moraes</td>
                        <td>fernanda@gmail.com</td>
                        <td>(99) 9999-9999</td>
                        <td>01/06/2025 22:23</td>
                        <td>Admin</td>
                        <td>Ativo</td>
                    </tr>
                    <tr>
                        <td>Andressa de Oliveira Barros</td>
                        <td>andressagmail.com</td>
                        <td>(99) 9999-9999</td>
                        <td>01/06/2025 22:23</td>
                        <td>Admin</td>
                        <td>Ativo</td>
                    </tr>
                    <tr>
                        <td>Lissa Deguti</td>
                        <td>Lissa@gmail.com</td>
                        <td>(99) 9999-9999</td>
                        <td>01/06/2025 22:23</td>
                        <td>Admin</td>
                        <td>Ativo</td>
                    </tr>
                    <tr>
                        <td>Melissa Weiss Perussulo</td>
                        <td>Melissa@gmail.com</td>
                        <td>(99) 9999-9999</td>
                        <td>01/06/2025 22:23</td>
                        <td>Admin</td>
                        <td>Ativo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
